<!DOCTYPE html>
<html ng-app="catApp">

<head>
  <title>catapp</title>
  <link href="libs/bootstrap.css" rel="stylesheet" />
  <link href="libs/bootstrap-theme.css" rel="stylesheet" />
  <link href="css/app.css" rel="stylesheet" />
</head>

<body ng-controller="catAppCtrl">
  <div class="navbar navbar-inverse">
    <a class="navbar-brand" href="#">catapp</a>
  </div>

  <div class="alert alert-danger" ng-show="data.error">
    wtfff ({{data.error.status}}). the cat data blew up.
    <a href="/app.html" class="alert-link">click here to try again</a>
  </div>

  <div ng-controller="catListCtrl"
       ng-hide="data.error"
       class="panel panel-default row">
    <div class="col-xs-3">
      <a ng-click="selectCategory()"
         ng-class="getCategoryClass()"
         class="btn btn-block btn-default btn-lg">home
      </a>
      <a ng-repeat="cat in data.cats | orderBy:'breed' | unique:'breed'"
         ng-click="selectCategory(cat)"
         ng-class="getCategoryClass(cat)"
         class="btn btn-block btn-default btn-lg">{{cat}}
      </a>
    </div>
    <div class="col-xs-8 form-group">
      <div ng-repeat="cat in data.cats | filter:categoryFilterFn | range:selectedPage:pageSize"
           class="well">
        <h3>
          <strong>{{cat.name}}</strong>
          <span class="pull-right label label-primary">
            {{cat.worth | currency}}
          </span>
        </h3>
        <span class="lead">{{cat.desc}}</span>
      </div>
      <div class="pull-right btn-group">
        <a ng-repeat="page in data.cats | filter:categoryFilterFn | pageCount:pageSize"
           ng-click="selectPage($index + 1)"
           ng-class="getPageClass($index + 1)"
           class="btn-default btn-lg">{{$index + 1}}
        </a>
      </div>
    </div>
  </div>

  <script src="libs/angular.js"></script>
  <script src="controllers/catapp.js"></script>
  <script src="filters/customFilters.js"></script>
  <script src="controllers/catListControllers.js"></script>
</body>

</html>
