<!DOCTYPE html>
<html ng-app="catApp">

<head>
  <title>catapp</title>
  <link href="libs/bootstrap.css" rel="stylesheet" />
  <link href="libs/bootstrap-theme.css" rel="stylesheet" />
</head>

<body ng-controller="catAppCtrl">
  <div class="navbar navbar-inverse">
    <a class="navbar-brand" href="#">catapp</a>
  </div>
  <div ng-controller="catListCtrl"
       class="panel panel-default row">
    <div class="col-xs-3">
      <a ng-click="selectCategory()"
         class="btn btn-block btn-default btn-lg">home</a>
      <a ng-repeat="cat in data.cats | orderBy:'breed' | unique:'breed'"
         ng-click="selectCategory(cat)"
         class="btn btn-block btn-default btn-lg">{{cat}}</a>
    </div>
    <div class="col-xs-8">
      <div class="well" ng-repeat="cat in data.cats | filter:categoryFilterFn">
        <h3>
          <strong>{{cat.name}}</strong>
          <span class="pull-right label label-primary">
            {{cat.worth | currency}}
          </span>
        </h3>
        <span class="lead">{{cat.desc}}</span>
      </div>
    </div>
  </div>

  <script src="libs/angular.js"></script>
  <script src="controllers/catapp.js"></script>
  <script src="filters/customFilters.js"></script>
  <script src="controllers/catListControllers.js"></script>
</body>

</html>
