<style>
  .ng-invalid{
    background-color: lightpink;
  }
  .ng-valid{
    background-color: lightgreen;
  }
  .span.error{
    color:red;
    font-weight: bold;
  }
</style>

<h2>check out now</h2>
<p>please enter your details, and we'll make sure to give it right to the nsa!</p>

<form name="shippingForm" novalidate>
  <div class="well">
    <h3>ship to</h3>
    <div class="form-group">
      <label>name</label>
      <input name="name" class="form-control" ng-model="data.shipping.name" required />
      <span class="error" ng-show="shippingForm.name.$error.required">
        a man needs a name
      </span>
    </div>
    <h3>address</h3>
    <div class="form-group">
      <label>street Address</label>
      <input name="street" class="form-control" ng-model="data.shipping.street" required />
      <span class="error" ng-show="shippingForm.street.$error.required">
        pls enter a street
      </span>
    </div>
    <div class="text-center">
      <button class="btn btn-primary">complete order</button>
    </div>
  </div>
</form>